<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:include="fragments/layout :: head"></th:block>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Agenda</a>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="page-header">List of Contacts</h1>
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-default"><span><a th:href="@{/contactForm}">New Contact</a></span></button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contact : ${contacts}">
                <td th:text="${contact.name}"></td>
                <td th:text="${contact.address}"></td>
                <td th:text="${contact.phone}"></td>
                <td><button type="submit"  class="btn btn-default glyphicon glyphicon-edit">
                    <a th:href="${'/contact/edit/' + contact.id}">Edit</a></button>
                </td>
                <td><button type="submit" class="btn btn-danger glyphicon glyphicon-trash">
                    <a th:href="${'/contact/delete/' + contact.id}">Delete</a>
                </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>